<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Audit-Result</title>
  {% load static%}
  <link rel='stylesheet' href="{% static 'style.css' %}">
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable({{simp|safe}});

        var options = {
          title: 'Statistics by Component'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
         <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Element", "Density", { role: "style" } ],
        ["first-meaningful-paint", {{ga}}, "#337ab7"],
        ["first-contentful-paint", {{gb}}, "silver"],
        ["No 404s", {{gc}}, "#d9534f"],
        ["overall score", {{gd}}, "color: #5cb85c"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Density of Precious Metals, in g/cm^3",
        width: 480,
        height: 300,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);

        var data = google.visualization.arrayToDataTable({{simp|safe}});

        var options = {
          title: 'Statistics by Component'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <aside class="side-nav" id="show-side-navigation1">
      <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
      <div class="heading">
        <img src="https://brandmark.io/logo-rank/random/pepsi.png" alt="">
        <div class="info">
          <h3><a href="#">Mostafa Omar</a></h3>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>
      <div class="search">
        <input type="text" placeholder="Type here"><i class="fa fa-search"></i>
      </div>
      <ul class="categories">
        <li><i class="fa fa-home fa-fw" aria-hidden="true"></i><a href="#"> About us</a>
          <ul class="side-nav-dropdown">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">ipsum dolor</a></li>
            <li><a href="#">dolor ipsum</a></li>
            <li><a href="#">amet consectetur</a></li>
            <li><a href="#">ipsum dolor sit</a></li>
          </ul>
        </li>
        <li><i class="fa fa-support fa-fw"></i><a href="#"> Subscribe us</a>
          <ul class="side-nav-dropdown">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">ipsum dolor</a></li>
            <li><a href="#">dolor ipsum</a></li>
            <li><a href="#">amet consectetur</a></li>
            <li><a href="#">ipsum dolor sit</a></li>
          </ul>
        </li>
        <li><i class="fa fa-envelope fa-fw"></i><a href="#"> Contact us</a>
          <ul class="side-nav-dropdown">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">ipsum dolor</a></li>
            <li><a href="#">dolor ipsum</a></li>
            <li><a href="#">amet consectetur</a></li>
            <li><a href="#">ipsum dolor sit</a></li>
          </ul>
        </li>
        <li><i class="fa fa-users fa-fw"></i><a href="#"> Our team</a>
          <ul class="side-nav-dropdown">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">ipsum dolor</a></li>
            <li><a href="#">dolor ipsum</a></li>
            <li><a href="#">amet consectetur</a></li>
            <li><a href="#">ipsum dolor sit</a></li>
          </ul>
        </li>
        <li><i class="fa fa-bolt fa-fw"></i><a href="#"> Testimonials</a>
          <ul class="side-nav-dropdown">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">ipsum dolor</a></li>
            <li><a href="#">dolor ipsum</a></li>
            <li><a href="#">amet consectetur</a></li>
            <li><a href="#">ipsum dolor sit</a></li>
          </ul>
        </li>
        <p>Example:</p>
        <li><i class="fa fa-envelope-open-o fa-fw"></i><a href="#"> Messages <span class="num dang">56</span></a></li>
        <li><i class="fa fa-wrench fa-fw"></i><a href="#"> Settings <span class="num prim">6</span></a>
          <ul class="side-nav-dropdown">
            <li><a href="#">Lorem ipsum</a></li>
            <li><a href="#">ipsum dolor</a></li>
            <li><a href="#">dolor ipsum</a></li>
            <li><a href="#">amet consectetur</a></li>
            <li><a href="#">ipsum dolor sit</a></li>
          </ul>
        </li>
        <li><i class="fa fa-laptop fa-fw"></i><a href="#"> About UI &amp; UX <span class="num succ">43</span></a></li>
        <li><i class="fa fa-comments-o fa-fw"></i><a href="#"> Something else</a></li>
      </ul>
    </aside>
    <section id="contents">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <i class="fa fa-align-right"></i>
            </button>
            <a class="navbar-brand" href="#">my<span class="main-color"> RESULT</span></a>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My profile <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#"><i class="fa fa-user-o fw"></i> My account</a></li>
                  <li><a href="#"><i class="fa fa-envelope-o fw"></i> My inbox</a></li>
                  <li><a href="#"><i class="fa fa-question-circle-o fw"></i> Help</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#"><i class="fa fa-sign-out"></i> Log out</a></li>
                </ul>
              </li>
              <li><a href="#"><i class="fa fa-comments"></i><span>23</span></a></li>
              <li><a href="#"><i class="fa fa-bell-o"></i><span>98</span></a></li>
              <li><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="welcome">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="content">
                <h2>Latest Performance Report for:</h2>
                <p>{{url}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="statistics">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="box">
                <i class="fa fa-envelope fa-fw bg-primary"></i>
                <div class="info">
                  <h3>Performance Score:</h3><span></span>
                  <p>{{per}}% B </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
                <i class="fa fa-file fa-fw danger"></i>
                <div class="info">
                  <h3>Accessibility</h3> <span></span>
                  <p>{{acc}}% B </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box">
                <i class="fa fa-users fa-fw success"></i>
                <div class="info">
                  <h3>SEO</h3> <span></span>
                  <p>{{seo}}% B </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="charts">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div class="chart-container">
         <!--         <h3>Chart</h3>
                <canvas id="myChart"></canvas> i-->
		<div id="columnchart_values" style="width: 97%; height: 300px;"></div>
              </div>
            </div>
            <div class="col-md-6">
               <div class="chart-container">
           <!--    <h3>Chart2</h3>
                <canvas id="myChart2"></canvas>   i-->
             <div id="piechart" style="width: 97%; height: 300px;"></div>
	       </div>
            </div>
          </div>
        </div>
      </section>
<!--                  #added by shivani-->
          <div class="keymar" > <button1 onclick="shwper()">Page Performance</button1> <button1 onclick="shwysl()">Yslow</button1>
        </div>
      <div class="row6" style="display:none;" id="yslow">
        {% for i,j,k in yzp %}
        <div class="key">{{i}}
        </div>
        <div class="result">{{j}}</div>
        <div class="exp"><i onclick="Test{{ forloop.counter }}()" class="fa fa-angle-down"></i>
        </div>
        <div class="rowl" style="display:none;" id=-{{ forloop.counter }}>
            {{k}}
        </div>
        {% endfor %}
    </div>
      <div class="row6" id="per">

        {% for i,j,k,l,m in zip %}
        <div class="key">{{i}}
        </div>
        <div class="result">{{j}}({{k}})
        </div>
        <div class="exp"><i onclick="Test{{ forloop.counter }}()" class="fa fa-angle-down"></i>
        </div>
        <div class="rowl" style="display:none;" id={{ forloop.counter }}>
            {{l}}
        </div>
        {% endfor %}
    </div>

<!--                    #ended-->
        <section class='statis text-center'>
          <div class="container-fluid">
            <div class="row">
<!--              <div class="col-md-3">-->
<!--                <div class="box bg-primary">-->
<!--                  <img style="height:100%; width:100%;" src="{% static 'iserveradmin.png' %}">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-3">-->
<!--                <div class="box danger">-->
<!--                  <img style="height:100%; width:100%;" src="{% static 'iserveradmin.png' %}">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-3">-->
<!--                <div class="box warning">-->
<!--                  <img style="height:100%; width:100%;" src="{% static 'iserveradmin.png' %}">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="col-md-3">-->
<!--                <div class="box success">-->
<!--                  <img style="height:100%; width:100%;" src="{% static 'iserveradmin.png' %}">-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
        </section>
	<section>
		<div id='myDiv' class="chart"></div>
	</section>
        <section class="chrt3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-9">
                <div class="chart-container">
                  <canvas id="chart3" width="100%"></canvas>
                </div>
              </div>
              <div class="col-md-4">
                <div class="box">
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>
      <script src='http://code.jquery.com/jquery-latest.js'></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<script>
function shwysl() {
var x = document.getElementById("yslow");
var y = document.getElementById("per");
x.style.display = "block";
y.style.display = "none";
document.getElementsByClassName("chng1")[0].style.backgroundColor = "#0000FF"
document.getElementsByClassName("chng")[0].style.backgroundColor = "#C93718"
}

function shwper() {
var x = document.getElementById("yslow");
var y = document.getElementById("per");
x.style.display = "none";
y.style.display = "block";
document.getElementsByClassName("chng")[0].style.backgroundColor = "#0000FF"
document.getElementsByClassName("chng1")[0].style.backgroundColor = "#C93718"
}
{% for i in adtttl %}
    function Test{{ forloop.counter }}() {

    var x = document.getElementById({{ forloop.counter }});
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
{% endfor %}

{% for i in yli %}
    function Test{{ forloop.counter }}() {
    var x = document.getElementById(-{{ forloop.counter }});
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
{% endfor %}
</script>
<script>
      var gd = document.getElementById('myDiv');
var data = [
        {
            name: "2018",
            type: "waterfall",
            orientation: "h",
<!--            measure: {{tm|safe}},-->
            y: {{lnk|safe}},
            x: {{sz|safe}},
            connector: {
                mode: "between",
                line: {
                    width: 4,
                    color: "rgb(0, 0, 0)",
                    dash: 0
                }
            }
        }
    ];
var layout = {title: {
            text: "Waterfall chart"
        },
        yaxis: {
            type: "category",
            autorange: "reversed"
        },
        xaxis: {
            type: "linear"
        },
        margin: { l: 500 },
        showlegend: true
    }
Plotly.newPlot('myDiv', data, layout);

    </script>
      </body>
    </html>
<!-- partial -->
  <script  src="{% static 'script.js' %}"></script>

</body>
</html>
